<template>
    <div>
        <div v-if="state=='idle'">(view error)</div>
        <div v-if="state=='loading'">...loading</div>
        <div v-if="state=='failure'">Data fetch failed.</div>
        <div v-if="state=='loaded'">
            <div> <!-- TODO: if pagination enabled -->
                <span>
                    <ul id="pagesList">
                        <li v-for="pageNo in pages" :key="pageNo">
                            <router-link
                                    :to="{query:{page: pageNo}}"
                                    v-if="pageNo && pageNo != currentPage"
                                append><b>{{pageNo}}</b></router-link>
                            <b v-else-if="pageNo==currentPage">{{pageNo}}</b>
                            <span v-else>...</span>
                        </li>
                    </ul>
                </span>
                <span>Shown {{first}}-{{last}} of <b>{{totalItemsCount}}</b> total</span>
                <span>, shown per page:
                    <select v-model="itemsPerPage" v-on:change="change_items_per_page($event)">
                        <option>10</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </span>
            </div>
            <table>
                <tr>
                    <th v-for="column in columns">{{column.label}}</th>
                </tr>
                <tr v-for="item in items">
                    <td v-for="column in columns">
                        <span v-if="!column.isLink">
                            {{format_value(column.format, item[column.name])}}
                        </span>
                        <router-link v-else
                                :to="get_item_link(item)" >
                            <b>{{format_value(column.format, item[column.name])}}</b>
                        </router-link>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { datetime_fmt } from '../utils'

function dft_fmt(v) { return v; }

const gDefaultColumnSettings = {
    runNo :     { label: 'Run',         priority:  0, sortable: true, isLink: true },
    nSpills :   { label: 'Spills, #',   priority: 10, sortable: true },
    nChunks :   { label: 'Chunks, #',   priority: 30, sortable: true },
    nOffsets :  { label: 'Offsets, #',  priority: 90, format: 'largenum', sortable: true },
    startTime : { label: 'Started',     priority: 20, format: 'datetime', sortable: true },
    endTime :   { label: 'Ended',       priority: 21, format: 'datetime', sortable: true },
    nEvents :   { label: 'Events, #',   priority: 50, sortable: true },
    // ...
};

export default {
    name: 'IndexEntriesTable',
    props: {
        apiAddr: String,
        backendProvider: String,
        itemsPerPageDefault: { type: Number, default: 10 }
    },
    data() {
        return {
            errors: [],
            state: 'idle',
            totalItemsCount: null,
            first: null,
            last: null,
            items: null,
            itemsPerPage: String(this.itemsPerPageDefault),
            // pagination
            currentPage: null,
            pages: [],
        };
    },
    created() {
        this.$watch(
            () => this.$route.params,
            () => {
                this.load_data()
            },
            // fetch the data when the view is created and the data is
            // already being observed
            { immediate: true }
        )
    },
    methods : {
        load_data() {
            this.state = 'loading';
            axios.request({
                        url: this.$props.apiAddr,
                        params: {
                            itemsPerPage: this.itemsPerPage,
                            page: this.$route.query.page
                        }
                    }).then(response => {
                if( response.status != 200 ) this.state = 'failure';
                this.totalItemsCount = response.data.total;
                this.first = response.data.first;
                this.last = response.data.last;
                this.pages = response.data.pages;
                this.currentPage = response.data.currentPage;
                this.items = response.data._embedded.items;
                if( response.status == 200 ) this.state = 'loaded';
            }).catch(e => {
                this.state = 'failure';
                console.error(e);
            });
        },
        format_value(fmt, val) {
            if(!fmt) return val;
            if('datetime' == fmt) return datetime_fmt(val);
            return val;
        },
        change_items_per_page(e) {
            this.$router.push({'query':{'itemsPerPage': e.target.value}});
            this.itemsPerPage = e.target.value;
        },
        get_item_link(item) {
            return {
                    name: 'run',
                    backendProvider: this.backendProvider,
                    params: {
                        runNo: item.runNo
                    }
                };
        }
    },
    computed: {
        columns() {
            // Retrieve columns from `items': collect attributes with name
            // not starting with '_'
            const colNames = [...new Set( this.items.map(
                item => Object.keys(item).filter(nm => !nm.startsWith('_'))).flat())];
            // Prepare description objects for every column, relying on
            // gDefaultColumnSettings
            let colObjs = colNames.map(name => {
                // find column name in `gDefaultColumnSettings`
                if(name in gDefaultColumnSettings) {
                    return { 'name': name, ...gDefaultColumnSettings[name]};
                }
                return {
                    'name': name,
                    label: name,
                    sortable: false,
                    link: false,
                    priority: 99,
                }
            });
            // Sort description based on the `priority` value
            colObjs.sort( (a, b) => a.priority - b.priority );
            return colObjs;
        }
    }
}
</script>

<style scoped>
ul#pagesList {
  padding: 6pt;
}

#pagesList {
  display: inline;
  list-style: none;
}

#pagesList li {
  display: inline;
}

#pagesList li:after {
  content: ", ";
}

#pagesList li:last-child:after {
    content: "";
}
</style>
