<template>
    <div>
        <h1>Run #{{runNo}}</h1>
        <div v-if="state=='idle'">(view error)</div>
        <div v-if="state=='loading'">...loading</div>
        <div v-if="state=='failure'">Data fetch failed.</div>
        <div v-if="state=='loaded'">
            (at <router-link
                    :to="{name:'runs','backendProvider':backendProvider,query:{'page':data.runsPageNum}}"
                    >page {{data.runsPageNum}}</router-link>)
            <h2>General Info</h2>
            <table>
                <tr>
                    <td>First event on record at</td>
                    <td>{{format_ts(data.startTime)}}</td>
                </tr>
                <tr>
                    <td>Last event on record at</td>
                    <td>{{format_ts(data.endTime)}}</td>
                </tr>
                <tr>
                    <td>Events overall</td>
                    <td>{{data.nEvents}}</td>
                </tr>
            </table>
            <h2>{{data.nSpills}} Spills on Index</h2>
                <table>
                    <tr>
                        <th>#</th>
                        <th>events, #</th>
                        <th>started</th>
                        <th>ended</th>
                        <th>dist.ev.types</th>
                        <th>dist.scalers</th>
                        <th>dist.triggers</th>
                        <th>offsets, #</th>
                    </tr>
                    <tr v-for="spill in data._embedded.spills">
                        <td>
                            <router-link
                                :to="{name:'spill',backendProvider:this.backendProvider,params:{runNo:this.runNo,spillNo:spill.spillNo}}" >
                                {{spill.spillNo}}
                            </router-link>
                        </td>
                        <td>{{spill.nEvents}}</td>
                        <td>{{format_sts(spill.startTimestamp)}}</td>
                        <td>{{format_sts(spill.endTimestamp)}}</td>
                        <td>{{spill.nEventTypes}}</td>
                        <td>{{spill.nScalerCounts}}</td>
                        <td>{{spill.nTriggerCountTypes}}</td>
                        <td>{{spill.nOffsets}}</td>
                    </tr>
                </table>
            <h2>{{data.nChunks}} Chunks</h2>
                <table>
                    <tr>
                        <th>#</th>
                        <th>size</th>
                        <th>MD5 hashsum</th>
                        <th>offsets, #</th>
                    </tr>
                    <tr v-for="chunk in data._embedded.chunks">
                        <td>{{chunk.chunkNo}}</td>
                        <td>{{chunk.size}}</td>
                        <td>{{chunk.md5}}</td>
                        <td>{{chunk.nOffsets}}</td>
                    </tr>
                </table>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { datetime_fmt } from '../utils'

const gSpillTimeFmt = new Intl.DateTimeFormat('en-US', {
        timeZone: 'Europe/Zurich',
        hour: 'numeric', minute: 'numeric', second: 'numeric',
        hour12: false,
    });

export function spill_time_fmt(ts) {
    if(!ts) return '(no data)'
    return gSpillTimeFmt.format(new Date(ts*1e3));
}

export default {
    name: 'Run',
    props: {
        backendProvider: String,
        runNo: String,
    },
    data() {
        return {
            errors: [],
            state: 'idle',
            apiAddr: new URL(`/rawdata/index/run/${this.runNo}`, this.backendProvider).href,
            data: null,
        };
    },
    created() {
        this.$watch(
            () => this.$route.params,
            () => {
                this.load_data()
            },
            // fetch the data when the view is created and the data is
            // already being observed
            { immediate: true }
        );
    },
    methods : {
        load_data() {
            console.log('Got backend URL:', this.apiAddr)
            this.state = 'loading';
            axios.get(this.apiAddr,).then(response => {
                if( response.status != 200 ) this.state = 'failure';
                this.data = response.data;
                if( response.status == 200 ) this.state = 'loaded';
            }).catch(e => {
                this.state = 'failure';
                console.error(e);
            });
        },
        format_ts(val) {
            return datetime_fmt(val);
        },
        format_sts(val) {
            return spill_time_fmt(val);
        },
        change_items_per_page(e) {
            this.$router.push({'query':{'itemsPerPage': e.target.value}});
            this.itemsPerPage = e.target.value;
        }
    },
}
</script>

<style scoped>
</style>
