<template>
    <h1>Runs List</h1>
    <div>
        <index-entries-table :api-addr="apiAddr"/>
    </div>
</template>

<script>
import IndexEntriesTable from './IndexEntriesTable.vue'

export default {
    name: 'Runs',
    components: { IndexEntriesTable },
    data: function() {
        return {
                apiAddr: new URL('/rawdata/index/runs', this.backendProvider).href
            };
    },
    props: {
        backendProvider: String
    }
}
</script>

<style scoped>
</style>

