<template>
    <div>
        <h1>Spill #{{spillNo}} of run <router-link
                :to="{name:'run','backendProvider':backendProvider,params:{'runNo':runNo}}"
                >#{{runNo}}</router-link></h1>
        <div v-if="state=='idle'">(view error)</div>
        <div v-if="state=='loading'">...loading</div>
        <div v-if="state=='failure'">Data fetch failed.</div>
        <div v-if="state=='loaded'">
            <table>
                <tr>
                    <td>First event on record at</td>
                    <td>{{format_ts(data.startTimestamp)}} // {{data.startSubSec}}</td>
                </tr>
                <tr>
                    <td>Last event on record at</td>
                    <td>{{format_ts(data.endTimestamp)}} // {{data.endSubSec}}</td>
                </tr>
                <tr>
                    <td>Events in spill</td>
                    <td>{{data.nEvents}}</td>
                </tr>
            </table>
            <h2>Event Types</h2>
            <table>
                <tr v-for="evTypeCount in data.eventTypeCounts">
                    <td>{{evTypeCount[0]}}</td>
                    <td>{{evTypeCount[1]}}</td>
                </tr>
            </table>
            <h2>Triggers</h2>
            <table>
                <tr v-for="evTrigCount in data.triggerCounts">
                    <td>{{evTrigCount[0]}}</td>
                    <td>{{evTrigCount[1]}}</td>
                </tr>
            </table>
            <h2>Scalers</h2>
            <table v-if="data.scalerCounts && data.scalerCounts.length">
                <tr v-for="item in data.scalerCounts">
                    <td>{{scalerCount[0]}}</td>
                    <td>{{scalerCount[1]}}</td>
                </tr>
            </table>
            <span v-else>(no data)</span>
            <h2>Byte Offsets in Chunk(s)</h2>
            <div id="offsetsList">
                <span class="offset-item" v-for="item in data.offsets">{{item.eventNo}}:{{item.chunkNo}}.{{item.byteOffset}}, </span>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { datetime_fmt } from '../utils'

const gSpillTimeFmt = new Intl.DateTimeFormat('en-US', {
        timeZone: 'Europe/Zurich',
        hour: 'numeric', minute: 'numeric', second: 'numeric',
        hour12: false,
    });

export function spill_time_fmt(ts) {
    if(!ts) return '(no data)'
    return gSpillTimeFmt.format(new Date(ts*1e3));
}

export default {
    name: 'Spill',
    props: {
        backendProvider: String,
        runNo: String,
        spillNo: String,
    },
    data() {
        return {
            errors: [],
            state: 'idle',
            apiAddr: new URL(`/rawdata/index/run/${this.runNo}/spill/${this.spillNo}`, this.backendProvider).href,
            data: null,
        };
    },
    created() {
        this.$watch(
            () => this.$route.params,
            () => {
                this.load_data()
            },
            // fetch the data when the view is created and the data is
            // already being observed
            { immediate: true }
        );
    },
    methods : {
        load_data() {
            this.state = 'loading';
            axios.get(this.apiAddr,).then(response => {
                if( response.status != 200 ) this.state = 'failure';
                this.data = response.data;
                if( response.status == 200 ) this.state = 'loaded';
            }).catch(e => {
                this.state = 'failure';
                console.error(e);
            });
        },
        format_ts(val) {
            return datetime_fmt(val);
        },
    },
}
</script>

<style scoped>
div#offsetsList {
    height: 10em;
    overflow: scroll;
}

span.offset-item {
    font-family: monospace;
    display:inline-block;
}
</style>

