* {
    font-family: Sans-Serif;
    font-size: 11pt;
}

body {
    background-color: #fefefe;
}

th {
    background-color: #333;
    color: #eee;
    padding: 6pt;;
}

td {
    padding: 3.4pt;
}

tr {
    background-color: #e2e2e2;
}

tr:nth-child(even) {
    background-color: #efefef;
}

table {
    border: none;
    text-align: center;
}
